*.o
ftnchek
autom4te.cache
test

config.sub
config.guess
install-sh

Makefile

TAGS
block_match.h
config-generic.h
config.h
configure
dcl2inc
dcl2inc.awk
fortran.cc
iokeywds_enum.h
make_blockmatch.pl
tags
tokdefs.h
